### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import statistics as stat

# File to Load (Remember to Change These)
file_to_load = os.path.join("../Resources/purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
# Calculating total unique players and posting the number in a small data frame

total_players = len(purchase_data_df['SN'].unique())

# print(total_players)

total_player_df = pd.DataFrame([total_players], columns=['Total Players'])
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#purchase_data_df.describe

# Determine all unique items
unique_items = len(purchase_data_df['Item Name'].unique())
print("Total Unique Items: " + str(unique_items))

# Average purchase price
average_price = purchase_data_df['Price'].mean()
print("Average Price: $" + str(round(average_price,2)))

# Total number of purchases
total_purchases = len(purchase_data_df['Purchase ID'])
print("Total Purchases: " + str(total_purchases))

# Total revenue of all purchases
total_revenue = purchase_data_df['Price'].sum()
print("Total Revenue: $" + str(round(total_revenue,2)))

Total Unique Items: 179
Average Price: $3.05
Total Purchases: 780
Total Revenue: $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Male players
male_df = purchase_data_df[purchase_data_df['Gender'] == "Male"]

male_players_total = len(male_df['SN'].unique())
male_players_percent = round((male_players_total / total_players) * 100, 2)

print(f'Total Male Players {male_players_total}\n'
f'Percent Male Players: {male_players_percent}%')

# Female players
female_df = purchase_data_df[purchase_data_df['Gender'] == "Female"]

female_players_total = len(female_df['SN'].unique())
female_players_percent = round((female_players_total / total_players) * 100, 2)

print(f'Total Female Players: {female_players_total}\n'
f'Percent Female Players: {female_players_percent}%')

# Non-binary or non-disclosed players
non_specified_df = purchase_data_df[(purchase_data_df['Gender'] != 'Male') & (purchase_data_df['Gender'] != 'Female')]

non_specified_players_total = len(non_specified_df['SN'].unique())
non_specified_players_percent = round((non_specified_players_total / total_players) * 100, 2)

print(f'Total Players Not Specifying Gender: {non_specified_players_total}\n'
f'Percent Players Not Specifying Gender: {non_specified_players_percent}%')

# # Check to ensure percentages add up to 100%
# total = male_players_percent + female_players_percent + non_specified_players_percent
# print(total)

Total Male Players 484
Percent Male Players: 84.03%
Total Female Players: 81
Percent Female Players: 14.06%
Total Players Not Specifying Gender: 11
Percent Players Not Specifying Gender: 1.91%

In [5]:
#Push all Gender data to a Data Frame
gender_summary_data = {
    'Total Count' : [male_players_total, female_players_total, non_specified_players_total],
    'Percentage of Players' : [male_players_percent, female_players_percent, non_specified_players_percent]
    }
gender_df = pd.DataFrame(gender_summary_data, index=['Male','Female','Other / Non-Disclosed'])

# Add formatting to df
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map('{:.4}%'.format)

gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Calculating and printing male purchase data

male_purchase_count = male_df['Purchase ID'].count()
male_average_price = male_df['Price'].mean()
male_total_purchase = male_df['Price'].sum()
male_per_capita_df = male_df.groupby("SN").sum()
male_per_capita = male_per_capita_df['Price'].mean()
# male_df.dtypes


print('Male Purchase Count: ' + str(male_purchase_count))
print('Male Total Purchases: $' + str(male_total_purchase))
print('Male Average Purchase: $' + str(round(male_average_price,2)))
print('Male per Capita Purchase Total: $' + str(round(male_per_capita,2)))
# print(male_per_capita_df)

Male Purchase Count: 652
Male Total Purchases: $1967.64
Male Average Purchase: $3.02
Male per Capita Purchase Total: $4.07

In [7]:
# Calculating and printing female purchase data

female_purchase_count = female_df['Purchase ID'].count()
female_average_price = female_df['Price'].mean()
female_total_purchase = female_df['Price'].sum()
female_per_capita_df = female_df.groupby("SN").sum()
female_per_capita = female_per_capita_df['Price'].mean()
# female_df.dtypes


print('female Purchase Count: ' + str(female_purchase_count))
print('female Total Purchases: $' + str(female_total_purchase))
print('female Average Purchase: $' + str(round(female_average_price,2)))
print('female per Capita Purchase Total: $' + str(round(female_per_capita,2)))

female Purchase Count: 113
female Total Purchases: $361.94
female Average Purchase: $3.2
female per Capita Purchase Total: $4.47

In [8]:
# Calculating and printing non-binary or non_specified purchase data

non_specified_purchase_count = non_specified_df['Purchase ID'].count()
non_specified_average_price = non_specified_df['Price'].mean()
non_specified_total_purchase = non_specified_df['Price'].sum()
non_specified_per_capita_df = non_specified_df.groupby("SN").sum()
non_specified_per_capita = non_specified_per_capita_df['Price'].mean()
# non_specified_df.dtypes


print('non_specified Purchase Count: ' + str(non_specified_purchase_count))
print('non_specified Total Purchases: $' + str(non_specified_total_purchase))
print('non_specified Average Purchase: $' + str(round(non_specified_average_price,2)))
print('non_specified per Capita Purchase Total: $' + str(round(non_specified_per_capita,2)))

non_specified Purchase Count: 15
non_specified Total Purchases: $50.19
non_specified Average Purchase: $3.35
non_specified per Capita Purchase Total: $4.56

In [9]:
# Summary dataframe for gender information

gender_purchase_data = {
    'Purchase Count' : [female_purchase_count, male_purchase_count, non_specified_purchase_count],
    'Average Purchase Price' : [female_average_price, male_average_price, non_specified_average_price],
    'Total Purchase Value' : [female_total_purchase, male_total_purchase, non_specified_total_purchase],
    'Avg Total Purchase per Person' : [female_per_capita, male_per_capita, non_specified_per_capita]
    }
gender_purchase_df = pd.DataFrame(gender_purchase_data, index=['Female','Male','Other / Non-Disclosed'])

# format data frame with .map function

gender_purchase_df['Average Purchase Price'] = gender_purchase_df['Average Purchase Price'].map("${:.2f}".format)
gender_purchase_df['Total Purchase Value'] = gender_purchase_df['Total Purchase Value'].map("${:.2f}".format)
gender_purchase_df['Avg Total Purchase per Person'] = gender_purchase_df['Avg Total Purchase per Person'].map("${:.2f}".format)

gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
## Age Demographics

# Determining min and max age to help with appropriate bin size selection
max_age = purchase_data_df['Age'].max()
min_age = purchase_data_df['Age'].min()
print("Max age: " + str(max_age))
print("Min age: " + str(min_age))


# Creating bins and bin labels
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
age_bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']


# Adding a 'Total Count' Column with age bins to the original data frame
purchase_data_df['Total Count'] = pd.cut(purchase_data_df['Age'], age_bins, labels=age_bin_names, include_lowest=True)


# Making new data frame without duplicate screen names
age_df = purchase_data_df.drop_duplicates(subset=['SN'])

# Adding a 'Percentage of Players' column 
age_bin_counts = age_df['Total Count'].value_counts()
percent_age_bin_counts = ((age_df['Total Count'].value_counts()) / total_players) * 100

# print(percent_age_bin_counts)
# print(age_bin_counts)

Max age: 45
Min age: 7

In [11]:
# Summary table for total counts and percentage by age

age_count_summary = {
    'Total Count' : age_bin_counts,
    'Percentage of Players' : percent_age_bin_counts
}

age_count_summary_table = pd.DataFrame(age_count_summary, index=age_bin_names)

# Format data frame
age_count_summary_table['Percentage of Players'] = age_count_summary_table['Percentage of Players'].map('{:.2f}%'.format)

age_count_summary_table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
age_range =  purchase_data_df.groupby('Total Count')

age_purchase_counts = purchase_data_df['Total Count'].value_counts()
# print(age_purchase_counts)

age_average_purchase_price = age_range['Price'].mean()
# print(age_average_purchase_price)

age_total_purchase_value = age_range['Price'].sum()
# print(age_total_purchase_value)

avg_total_purchase_per_person = age_range['Price'].sum() / age_range['SN'].nunique()
# print(avg_total_purchase_per_person)

In [13]:
# Creating dictionary for Data Frame format
age_purchase_summary = ({
    'Purchase Count' : age_purchase_counts,
    'Average Purchase Price' : age_average_purchase_price,
    'Total Purchase Value' : age_total_purchase_value,
    'Avg Total Purchase per Person' : avg_total_purchase_per_person
})

# Converting purchasing summary dictionary into Data Frame
age_purchase_summary_table = pd.DataFrame(age_purchase_summary)

# Format data frame
age_purchase_summary_table['Average Purchase Price'] = age_purchase_summary_table['Average Purchase Price'].map('${:.2f}'.format)
age_purchase_summary_table['Total Purchase Value'] = age_purchase_summary_table['Total Purchase Value'].map('${:.2f}'.format)
age_purchase_summary_table['Avg Total Purchase per Person'] = age_purchase_summary_table['Avg Total Purchase per Person'].map('${:.2f}'.format)

age_purchase_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
# Creating a group-by of individual spenders
spenders =  purchase_data_df.groupby('SN')

# Capture number of purchases for each user
spender_purchase_count = spenders['Purchase ID'].nunique()

# Capture total amount paid for each user
spender_total_purchase_price = spenders['Price'].sum()

# Capture average amount paid per transaction for each user
spender_average_purchase_price = spender_total_purchase_price / spender_purchase_count

# Creating dictionary to load Data Frame

spender_summary = {
    'Purchase Count' : spender_purchase_count,
    'Average Purchase Price' : spender_average_purchase_price,
    'Total Purchase Value' : spender_total_purchase_price
}

spender_summary_table = pd.DataFrame(spender_summary)

# Sort data frame in descending order by total purchase value, then format purchases to USD with 2 decimals

spender_summary_table = spender_summary_table.sort_values(['Total Purchase Value'], ascending=False)

spender_summary_table['Average Purchase Price'] = spender_summary_table['Average Purchase Price'].map('${:,.2f}'.format)
spender_summary_table['Total Purchase Value'] = spender_summary_table['Total Purchase Value'].map('${:,.2f}'.format)

# spender_purchase_count
# spender_average_purchase_price
# spender_total_purchase_price

spender_summary_table.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:

# Create new Data Frame with Item ID, Item Name, and Item Price columns

item_df = purchase_data_df[['Item ID', 'Item Name', 'Price']]

items = item_df.groupby(['Item ID', 'Item Name'])

# Calculating all item values
item_purchase_count = items['Item Name'].count()
item_avg_price = items['Price'].mean()
item_total_price = items['Price'].sum()

# item_avg_price
# item_purchase_count
# item_total_price

# Creating a item summary dictionary for a Data Frame

item_summary = {
    'Purchase Count' : item_purchase_count,
    'Item Price' : item_avg_price,
    'Total Purchase Value' : item_total_price
}

item_summary_table = pd.DataFrame(item_summary)

# Sorting by descending purchase count, then format purchases/price to USD with 2 decimals

item_summary_table = item_summary_table.sort_values('Purchase Count', ascending=False)

item_summary_table['Item Price'] = item_summary_table['Item Price'].map('${:,.2f}'.format)
item_summary_table['Total Purchase Value'] = item_summary_table['Total Purchase Value'].map('${:,.2f}'.format)



item_summary_table.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [16]:
# Duplicating an earlier data frame since item summary table is already mapped with formatting
most_profitable_summary = item_summary

most_profitable_summary_table = pd.DataFrame(most_profitable_summary)

# Sorting by total purchase value, then format purchases/price to USD with 2 decimals
most_profitable_summary_table = most_profitable_summary_table.sort_values('Total Purchase Value', ascending=False)

most_profitable_summary_table['Item Price'] = most_profitable_summary_table['Item Price'].map('${:,.2f}'.format)
most_profitable_summary_table['Total Purchase Value'] = most_profitable_summary_table['Total Purchase Value'].map('${:,.2f}'.format)

most_profitable_summary_table.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80