### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data_df['Item ID'])

total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#purchase_data_df.describe

# Determine all unique items
unique_items = []
for row in purchase_data_df['Item Name']:
    if row not in unique_items:
        unique_items.append(row)
total_unique_items = len(unique_items)
print("Total Unique Items: " + str(total_unique_items))

unique_IDs = []
for row in purchase_data_df['SN']:
    if row not in unique_IDs:
        unique_IDs.append(row)
total_unique_IDs = len(unique_IDs)
print("Total Unique IDs: " + str(total_unique_IDs))


# Average purchase price
average_price = purchase_data_df['Price'].mean()
print("Average Price: " + str(average_price))

# Total number of purchases
total_purchases = len(purchase_data_df['Purchase ID'])
print("Total Purchases: " + str(total_purchases))

# Total revenue of all purchases
total_revenue = purchase_data_df['Price'].sum()
print("Total Revenue: " + str(total_revenue))

Total Unique Items: 179
Total Unique IDs: 576
Average Price: 3.0509871794871795
Total Purchases: 780
Total Revenue: 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
# Male players
male_df = purchase_data_df[purchase_data_df['Gender'] == "Male"]
male_players_total = len(purchase_data_df[purchase_data_df['Gender'] == "Male"])
male_players_percent = (male_players_total / total_players) * 100

print(f'Total Male Players {male_players_total}\n'
f'Percent Male Players: {male_players_percent}')

# Female players
female_df = purchase_data_df[purchase_data_df['Gender'] == "female"]
female_players_total = len(purchase_data_df[purchase_data_df['Gender'] == 'Female'])
female_players_percent = float((female_players_total / total_players) * 100)
print(f'Total Female Players: {female_players_total}\n'
f'Percent Female Players: {female_players_percent}')

# Non-binary or non-disclosed players
non_specified_df = purchase_data_df[(purchase_data_df['Gender'] != 'Male') & (purchase_data_df['Gender'] != 'Female')]
non_specified_players_total = len(purchase_data_df[(purchase_data_df['Gender'] != 'Male') & (purchase_data_df['Gender'] != 'Female')])
non_specified_players_percent = (non_specified_players_total / total_players) * 100
print(f'Total Players Not Specifying Gender: {non_specified_players_total}\n'
f'Percent Players Not Specifying Gender: {non_specified_players_percent}')

# # Check to ensure percentages add up to 100%
# total = male_players_percent + female_players_percent + non_specified_players_percent
# print(total)

Total Male Players 652
Percent Male Players: 83.58974358974359
Total Female Players: 113
Percent Female Players: 14.487179487179489
Total Players Not Specifying Gender: 15
Percent Players Not Specifying Gender: 1.9230769230769231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
male_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [6]:
male_purchase_count = len(male_df)
male_average_price = male_df['Price'].average()
male_total_purchase = male_df['Price'].sum()
male_per_capita = male_df['']

AttributeError: 'Series' object has no attribute 'average'

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame