### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import statistics as stat

# File to Load (Remember to Change These)
file_to_load = os.path.join("../Resources/purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data_df['SN'].unique())
print(total_players)

total_player_df = pd.DataFrame([total_players], columns=['Total Players'])
total_player_df

576

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#purchase_data_df.describe

# Determine all unique items
unique_items = len(purchase_data_df['Item Name'].unique())
print("Total Unique Items: " + str(unique_items))

# Average purchase price
average_price = purchase_data_df['Price'].mean()
print("Average Price: " + str(average_price))

# Total number of purchases
total_purchases = len(purchase_data_df['Purchase ID'])
print("Total Purchases: " + str(total_purchases))

# Total revenue of all purchases
total_revenue = purchase_data_df['Price'].sum()
print("Total Revenue: " + str(total_revenue))

Total Unique Items: 179
Average Price: 3.0509871794871795
Total Purchases: 780
Total Revenue: 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Male players
male_df = purchase_data_df[purchase_data_df['Gender'] == "Male"]

male_players_total = len(male_df['SN'].unique())
male_players_percent = (male_players_total / total_players) * 100

print(f'Total Male Players {male_players_total}\n'
f'Percent Male Players: {male_players_percent}')

# Female players
female_df = purchase_data_df[purchase_data_df['Gender'] == "Female"]

female_players_total = len(female_df['SN'].unique())
female_players_percent = (female_players_total / total_players) * 100
print(f'Total Female Players: {female_players_total}\n'
f'Percent Female Players: {female_players_percent}')

# Non-binary or non-disclosed players
non_specified_df = purchase_data_df[(purchase_data_df['Gender'] != 'Male') & (purchase_data_df['Gender'] != 'Female')]

non_specified_players_total = len(non_specified_df['SN'].unique())
non_specified_players_percent = (non_specified_players_total / total_players) * 100
print(f'Total Players Not Specifying Gender: {non_specified_players_total}\n'
f'Percent Players Not Specifying Gender: {non_specified_players_percent}')

# # Check to ensure percentages add up to 100%
# total = male_players_percent + female_players_percent + non_specified_players_percent
# print(total)

Total Male Players 484
Percent Male Players: 84.02777777777779
Total Female Players: 81
Percent Female Players: 14.0625
Total Players Not Specifying Gender: 11
Percent Players Not Specifying Gender: 1.9097222222222223

In [5]:
#Push all Gender data to a Data Frame
gender_summary_data = {
    'Total Count' : [male_players_total, female_players_total, non_specified_players_total],
    'Percentage of Players' : [male_players_percent, female_players_percent, non_specified_players_percent]
    }
gender_df = pd.DataFrame(gender_summary_data, index=['Male','Female','Other / Non-Disclosed'])

# Add formatting to df
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map('{:.4}%'.format)

gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
male_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [7]:
male_purchase_count = male_df['Purchase ID'].count()
male_average_price = male_df['Price'].mean()
male_total_purchase = male_df['Price'].sum()
male_per_capita_df = male_df.groupby("SN").sum()
male_per_capita = male_per_capita_df['Price'].mean()
# male_df.dtypes


print('Male Purchase Count: ' + str(male_purchase_count))
print('Male Total Purchases: $' + str(male_total_purchase))
print('Male Average Purchase: $' + str(male_average_price))
print('Male per Capita Purchase Total: $' + str(male_per_capita))
# print(male_per_capita_df)

Male Purchase Count: 652
Male Total Purchases: $1967.64
Male Average Purchase: $3.0178527607361967
Male per Capita Purchase Total: $4.065371900826446

In [8]:
female_purchase_count = female_df['Purchase ID'].count()
female_average_price = female_df['Price'].mean()
female_total_purchase = female_df['Price'].sum()
female_per_capita_df = female_df.groupby("SN").sum()
female_per_capita = female_per_capita_df['Price'].mean()
# female_df.dtypes


print('female Purchase Count: ' + str(female_purchase_count))
print('female Total Purchases: $' + str(female_total_purchase))
print('female Average Purchase: $' + str(female_average_price))
print('female per Capita Purchase Total: $' + str(female_per_capita))

female Purchase Count: 113
female Total Purchases: $361.94
female Average Purchase: $3.203008849557522
female per Capita Purchase Total: $4.468395061728395

In [9]:
non_specified_purchase_count = non_specified_df['Purchase ID'].count()
non_specified_average_price = non_specified_df['Price'].mean()
non_specified_total_purchase = non_specified_df['Price'].sum()
non_specified_per_capita_df = non_specified_df.groupby("SN").sum()
non_specified_per_capita = non_specified_per_capita_df['Price'].mean()
# non_specified_df.dtypes


print('non_specified Purchase Count: ' + str(non_specified_purchase_count))
print('non_specified Total Purchases: $' + str(non_specified_total_purchase))
print('non_specified Average Purchase: $' + str(non_specified_average_price))
print('non_specified per Capita Purchase Total: $' + str(non_specified_per_capita))

non_specified Purchase Count: 15
non_specified Total Purchases: $50.19
non_specified Average Purchase: $3.3459999999999996
non_specified per Capita Purchase Total: $4.5627272727272725

In [10]:
# Summary dataframe for gender information

gender_purchase_data = {
    'Purchase Count' : [female_purchase_count, male_purchase_count, non_specified_purchase_count],
    'Average Purchase Price' : [female_average_price, male_average_price, non_specified_average_price],
    'Total Purchase Value' : [female_total_purchase, male_total_purchase, non_specified_total_purchase],
    'Avg Total Purchase per Person' : [female_per_capita, male_per_capita, non_specified_per_capita]
    }
gender_purchase_df = pd.DataFrame(gender_purchase_data, index=['Female','Male','Other / Non-Disclosed'])

# format data frame with .map function

gender_purchase_df['Average Purchase Price'] = gender_purchase_df['Average Purchase Price'].map("${:.2f}".format)
gender_purchase_df['Total Purchase Value'] = gender_purchase_df['Total Purchase Value'].map("${:.2f}".format)
gender_purchase_df['Avg Total Purchase per Person'] = gender_purchase_df['Avg Total Purchase per Person'].map("${:.2f}".format)

gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [11]:
## Age Demographics

max_age = purchase_data_df['Age'].max()
min_age = purchase_data_df['Age'].min()
print(max_age)
print(min_age)



# Creating bins and bin labels
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]
age_bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Adding a 'Total Count' Column with age bins to the original data frame
purchase_data_df['Total Count'] = pd.cut(purchase_data_df['Age'], age_bins, labels=age_bin_names, include_lowest=True)



# Making new data frame without duplicate screen names
age_df = purchase_data_df.drop_duplicates(subset=['SN'])

# Adding a 'Percentage of Players' column 
age_bin_counts = age_df['Total Count'].value_counts()
percent_age_bin_counts = ((age_df['Total Count'].value_counts()) / total_players) * 100

print(percent_age_bin_counts)

age_bin_counts
print(age_bin_counts)

45
7
20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
40+       2.083333
Name: Total Count, dtype: float64
20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Total Count, dtype: int64

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# Summary table for total counts and percentage by age

age_count_summary = {
    'Total Count' : age_bin_counts,
    'Percentage of Players' : percent_age_bin_counts
}

age_count_summary_table = pd.DataFrame(age_count_summary, index=age_bin_names)

# Format data frame
age_count_summary_table['Percentage of Players'] = age_count_summary_table['Percentage of Players'].map('{:.2f}%'.format)

age_count_summary_table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
age_range =  purchase_data_df.groupby('Total Count')

age_purchase_counts = age_range['Total Count'].value_counts()
print(type(age_purchase_counts))

age_average_purchase_price = age_range['Price'].mean()
print(type(age_average_purchase_price))

age_total_purchase_value = age_range['Price'].sum()
print(type(age_total_purchase_value))

avg_total_purchase_per_person = age_range['Price'].sum() / age_range['SN'].nunique()
print(type(avg_total_purchase_per_person))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

## Top Spenders

In [26]:

age_purchase_summary = {
    'Purchase Count' : age_purchase_counts,
    'Average Purchase Price' : age_average_purchase_price,
    'Total Purchase Value' : age_total_purchase_value,
    'Avg Total Purchase per Person' : avg_total_purchase_per_person}


age_purchase_summary_table = pd.DataFrame(age_purchase_summary, index=age_bin_names)
age_purchase_summary_table

TypeError: Expected tuple, got str

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame